@media screen and (max-width: 450px) {
  .galery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .grid-button {
    width: 80%;
  }
  #btn-r {
    padding: 0.2em;
  }
}
